# Angular build artifacts
/dist/
/.angular/
/out-tsc/

# Node modules
/node_modules/

# Environment files
.env
.env.*.local

# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
*.js
*.js.map

# Testing
/coverage/
karma.conf.js
test.ts