# Build output
bin/
obj/

# Visual Studio working folder
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Database/cache/temp
*.dbmdl
*.bak

# NuGet packages
*.nupkg
packages/
.nuget/

# Publish output
wwwroot/

# App settings (environment-specific configs)
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Environment files
.env
